// _variables.scss
// 공용으로 사용할 수 있는 색상의 값을 변수에 저장한다.

// 유채색 계열
$mainColor : #ff9900;
$subColor : #ff7777;
$impactColor : #c13;

// 무채색
$fontColor-1 : #111;
$fontColor-4 : #444;
$fontColor-6 : #666;
$fontColor-9 : #999;
$fontColor-a : #aaa;
$fontColor-f : #fff;